@include keyframes(pulse) {
  0% {
    opacity: .3;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .3;
  }
}

.fallback-image {
  max-width: 100%;
  width: 100%;
}
svg {
  display: none;
}

.svg {
  .fallback-image {
    display: none;
  }

  svg {
    display: block;
    max-width: 100%;
    width: 100%;

    &.background {
      position: fixed;
      bottom: 0;
      width: 2000px;
      height: auto;
    }

    &.message {
      &.n1 {
        position: absolute;
        top: 100%;
      }
      &.n2 {
        position: absolute;
        top: 200%;
      }
    }
  }

  &.skrollr {
    svg {
      max-width: 100%;
      width: 100%;

      &.background {
        bottom: 0;
        width: 2000px;
        height: auto;
      }

      &.message {
        //position: absolute;
        top: 25%;
      }
    }
  }
}

.note {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 45%;
  width: 100%;

  .pulse {
    @include animation(pulse 4s infinite);
    @include rem(font-size, 20px);
    font-style: italic;
    letter-spacing: 5px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 45%;
    width: 100%;

    &:after,
    &:before {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 34px solid #000;
      bottom: -70px;
      content: '';
      left: 50%;
      margin-left: -20px;
      position: absolute;
    }

    &:before {
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-top: 37px solid;
      border-top-color: inherit; /* Can't be included in the shorthand to work */
      bottom: -72px;
      margin-left: -22px;
    }
  }
}

.content {
  @include rem(padding, 50px 20px);
  background-color: $contentBackgroundColor;
  color: $contentTextColor;
  position: relative;
  min-height: 100%;

  @include breakpoint($breakpoint2) {
    @include rem(padding, 50px);
  }

  &.black {
    background-color: $backgroundColor;
    color: $bodyTextColor;
    min-height: 100%;
  }

  .wrap {
    @include rem(max-width, 600px);
    margin: 0 auto;
  }

  .wrap-center {
    display: table;
    width: 100%;
  }

  .wrap-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.svg {
  .content {
    position: relative;
    top: 300%;
    width: 100%;

    &.black {
      top: 300%;
      width: 100%;
    }

    &.white {
      display: none;
    }
  }
}

.skrollr.svg {
  .content {
    top: 0;
    position: absolute;
    z-index: 1001;
    
    &.main {
      top: 850%;
    }

    &.black,
    &.white {
      bottom: 0;
      left: 0;
      overflow: auto;
      padding: 0;
      right: 0;
      top: 0;
      z-index: 1000;
    }

    .wrap-center {
      bottom: 0;
      display: table;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 100%;

      .wrap-inner {
        display: table-cell;
        vertical-align: middle;
      }

      p {
        margin: 0 auto;
        max-width: 900px;
        padding: 0 5% 0 5%;
      }

      @media screen and (min-width: 700px)  and (min-height: 600px) {
        p {
          font-size: 20px;
          padding: 0 10% 0 10%;
        }
      }
    }
  }
}

.skrollable {
  position: fixed !important;
}