.layer1 {
  height: 100%;
}
.layer2 {
  height: 200%; 
}
.layer3 {
  height: 300%;
}

.snow {
  background-position: center;
  background-repeat: repeat;
  background-size: 1200px auto;
  position: absolute;
  width: 100%;

  &.section1 {
    @for $i from 1 through 4 {
      &.big#{$i} {
        background-image: url('../images/01snow_big#{$i}.svg');
      }
    }

    @for $i from 1 through 4 {
      &.mid#{$i} {
        background-image: url('../images/01snow_mid#{$i}.svg');
      }
    }

    @for $i from 1 through 4 {
      &.small#{$i} {
        background-image: url('../images/01snow_small#{$i}.svg');
      }
    }
  }

  &.section2 {
    @for $i from 1 through 4 {
      &.big#{$i} {
        background-image: url('../images/02snow_big#{$i}.svg');
      }
    }

    @for $i from 1 through 4 {
      &.mid#{$i} {
        background-image: url('../images/02snow_mid#{$i}.svg');
      }
    }

    @for $i from 1 through 4 {
      &.small#{$i} {
        background-image: url('../images/02snow_small#{$i}.svg');
      }
    }
  }
}

.typo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
  height: 100%;

  &.section1 {
    @for $i from 1 through 13 {
      &.f#{$i} {
        background-image: url('../images/f#{$i}.svg');
      }
    }
  }

  &.section2 {
    @for $i from 1 through 14 {
      &.n#{$i} {
        background-image: url('../images/n#{$i}.svg');
      }
    }
  }
}

section#content {
  @include rem(padding, 50px);
  background-color: $contentBackgroundColor;
  bottom: 0;
  color: $contentTextColor;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  .wrap {
    @include rem(max-width, 600px);
    margin: 0 auto;
  }
}

.skrollable {
  position: fixed;
}