@font-face {
  font-family: "UniversNext Thin";
  src: url(fonts/5f3bf90d-74d3-4e61-ad1b-bd09306a242e.eot?#iefix);
  src: url(fonts/5f3bf90d-74d3-4e61-ad1b-bd09306a242e.eot?#iefix) format("eot"),
        url(fonts/63a0c1d0-2e27-46e3-8c4f-0537779e4de6.woff) format("woff"),
        url(fonts/c7c8f4e0-de74-44eb-9728-9eb0f76060fa.ttf) format("truetype"),
        url(fonts/09d0360c-896a-4671-bb26-b8e0bccdbcef.svg#09d0360c-896a-4671-bb26-b8e0bccdbcef) format("svg");
}
@font-face {
  font-family: "UniversNext Regular";
  src: url(fonts/73e16764-0099-40e0-9182-d69b99396d94.eot?#iefix);
  src: url(fonts/73e16764-0099-40e0-9182-d69b99396d94.eot?#iefix) format("eot"),
        url(fonts/c6e5b0e0-ee60-4f51-975c-6e2f4bdd6225.woff) format("woff"),
        url(fonts/43a61655-19e5-478a-8d73-bb7e7f4f295f.ttf) format("truetype"),
        url(fonts/337b082c-c223-40e0-971b-39d9b5b610c0.svg#337b082c-c223-40e0-971b-39d9b5b610c0) format("svg");
}
@font-face {
  font-family: "UniversNext Medium";
  src: url(http://zkm.de/sites/all/themes/zkm/fonts/4f1b0c34-1c71-42cf-813e-7927e52b538c.eot?#iefix);
  src: url(http://zkm.de/sites/all/themes/zkm/fonts/4f1b0c34-1c71-42cf-813e-7927e52b538c.eot?#iefix) format("eot"),
        url(http://zkm.de/sites/all/themes/zkm/fonts/7a425d6a-3af8-404b-a08e-eaf011616185.woff) format("woff"),
        url(http://zkm.de/sites/all/themes/zkm/fonts/e7b4c9b0-9a8b-46ad-a01f-d116e7fb23cd.ttf) format("truetype"),
        url(http://zkm.de/sites/all/themes/zkm/fonts/5e5e14de-2505-4fac-bfe5-b066e4a892c9.svg#5e5e14de-2505-4fac-bfe5-b066e4a892c9) format("svg");
}
@font-face {
  font-family: "UniversNext Bold";
  src: url(http://zkm.de/sites/all/themes/zkm/fonts/3d4372d2-fbf8-4376-887c-a4247fe7475f.eot?#iefix);
  src: url(http://zkm.de/sites/all/themes/zkm/fonts/3d4372d2-fbf8-4376-887c-a4247fe7475f.eot?#iefix) format("eot"),
        url(http://zkm.de/sites/all/themes/zkm/fonts/5726bf63-b50c-4eb5-8615-36daaa1b3f99.woff) format("woff"),
        url(http://zkm.de/sites/all/themes/zkm/fonts/f4f44dd1-4235-4aaf-86d0-2b58f230cdaf.ttf) format("truetype"),
        url(http://zkm.de/sites/all/themes/zkm/fonts/18d95e2b-3d06-44e1-a880-1eb734d08d25.svg#18d95e2b-3d06-44e1-a880-1eb734d08d25) format("svg");
}