.note data-start="opacity: 1" data-20p="opacity: 0"
  .pulse Bitte scrollen

svg.background width="2800" preserveAspectRatio="xMidYMax slice" viewBox="0 0 2800 10000" data-start="transform: translateY(0%)" data-600p="transform: translateY(50%)"
  image xlink:href="assets/images/snow_big1.svg" src="" width="2800" height="10000"
svg.background width="2800" preserveAspectRatio="xMidYMax slice" viewBox="0 0 2800 10000" data-start="transform: translateY(-30%)" data-600p="transform: translateY(50%)"
  image xlink:href="assets/images/snow_big2.svg" src="" width="2800" height="10000"
svg.background width="2800" preserveAspectRatio="xMidYMax slice" viewBox="0 0 2800 10000" data-start="transform: translateY(-40%)" data-600p="transform: translateY(30%)"
  image xlink:href="assets/images/snow_mid1.svg" src="" width="2800" height="10000"
svg.background width="2800" preserveAspectRatio="xMidYMax slice" viewBox="0 0 2800 10000" data-start="transform: translateY(-40%)" data-600p="transform: translateY(60%)"
  image xlink:href="assets/images/snow_mid2.svg" src="" width="2800" height="10000"
svg.background width="2800" preserveAspectRatio="xMidYMax slice" viewBox="0 0 2800 10000" data-start="transform: translateY(-40%)" data-600p="transform: translateY(50%)"
  image xlink:href="assets/images/snow_small1.svg" src="" width="2800" height="10000"
svg.background width="2800" preserveAspectRatio="xMidYMax slice" viewBox="0 0 2800 10000" data-start="transform: translateY(-35%)" data-600p="transform: translateY(10%)"
  image xlink:href="assets/images/snow_small2.svg" src="" width="2800" height="10000"


svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-0p="transform: translateY(-150%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(150%)"
  image xlink:href="assets/images/f1.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-50p="transform: translateY(-180%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(200%)"
  image xlink:href="assets/images/f2.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-60p="transform: translateY(-200%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(250%)"
  image xlink:href="assets/images/f3.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-70p="transform: translateY(-250%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(300%)"
  image xlink:href="assets/images/f4.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-80p="transform: translateY(-300%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(350%)"
  image xlink:href="assets/images/f5.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-90p="transform: translateY(-350%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(400%)"
  image xlink:href="assets/images/f6.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-80p="transform: translateY(-400%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(450%)"
  image xlink:href="assets/images/f7.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-60p="transform: translateY(-450%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(500%)"
  image xlink:href="assets/images/f8.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-70p="transform: translateY(-500%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(550%)"
  image xlink:href="assets/images/f9.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-30p="transform: translateY(-550%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(600%)"
  image xlink:href="assets/images/f10.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-60p="transform: translateY(-600%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(650%)"
  image xlink:href="assets/images/f11.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-80p="transform: translateY(-650%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(700%)"
  image xlink:href="assets/images/f12.svg" src="" width="2800" height="700"
svg.message.n1 width="2800" height="700" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-90p="transform: translateY(-700%)" data-200p="transform: translateY(0%)" data-300p="transform: translateY(10%)" data-400p="transform: translateY(750%)"
  image xlink:href="assets/images/f13.svg" src="" width="2800" height="700"


svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-150%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(150%)"
  image xlink:href="assets/images/n1.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-180%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(200%)"
  image xlink:href="assets/images/n2.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-200%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(250%)"
  image xlink:href="assets/images/n3.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-250%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(300%)"
  image xlink:href="assets/images/n4.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-300%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(350%)"
  image xlink:href="assets/images/n5.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-350%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(400%)"
  image xlink:href="assets/images/n6.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-400%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(450%)"
  image xlink:href="assets/images/n7.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-450%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(500%)"
  image xlink:href="assets/images/n8.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-500%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(550%)"
  image xlink:href="assets/images/n9.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-550%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(600%)"
  image xlink:href="assets/images/n10.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-600%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(650%)"
  image xlink:href="assets/images/n11.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-650%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(700%)"
  image xlink:href="assets/images/n12.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-700%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(750%)"
  image xlink:href="assets/images/n13.svg" src="" width="2800" height="750"
svg.message.n2 width="2800" height="750" preserveAspectRatio="xMinYMin meet" viewBox="0 0 2800 700" data-250p="transform: translateY(-750%)" data-350p="transform: translateY(0%)" data-450p="transform: translateY(10%)" data-550p="transform: translateY(800%)"
  image xlink:href="assets/images/n14.svg" src="" width="2800" height="750"


section.content.black data-start="display: none;" data-500p="display: block; opacity: 0;" data-600p="display: block; opacity: 1;"
  .wrap-center
    h1 Hier steht der Gruß
    p Und hier der Grußtext
section.content data-start="display: none;" data-650p="display: block; opacity: 0;" data-750p="display: block; opacity: 1;"
  .wrap
    .video
      / iframe width="560" height="315" src="//www.youtube.com/embed/3Smy59KYa_4?list=FLyqJ7z-GhjM1LabS0NJ8b2A" frameborder="0" allowfullscreen=""
      / video
      /   source src="http://benu.zkm.de/media/video/i4838_VIC_Globale_Teaser_2.m4v" type="video/mp4"
    h1 GLOBALE
    h2 Das neue Kunstereignis: 300 Tage am ZKM 2015 - 2016
    p 300 Jahre Karlsruhe – 300 Tage GLOBALE. Das ZKM | Karlsruhe präsentiert zum Stadtjubiläum ein neues Kunstereignis: Die GLOBALE wird die kulturellen Effekte der Globalisierung sichtbar machen und zugleich die Verbindungen von Kunst, Wissenschaft und Technologie, von digitaler Revolution und Demokratieentwicklung offenlegen. Ausstellungen, Konzerte, Performances, Aufführungen und Lesungen werden zeigen, wie sich Kunst und Wissenschaft durch neue Technologien einander annähern. Entwicklungen und Produktionen aus Kunst, Design, Architektur, Musik, Medien, Naturwissenschaften, Technik, Ökonomie, Ökologie, etc. werden neuen Perspektiven auf die Gesellschaft des 21. Jahrhunderts eröffnen.

javascript:
  if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
    var s = skrollr.init();
  }